---
layout: default
---

<div class="stage">
  <div class="hero">
    <h1>We wanted a better staffing company, so we built one.</h1>
    <p>We know the transactional nature of recruiting is frustrating. We’re changing all that. We believe that staffing should be about relationships with people, and we practice what we preach.</p>
  </div>
</div>
<div class="masonry">
  <div class="brick hs">
    <script src="js/vendor/instafeed.min.js"></script>
    <figure id="instafeed">
      <figcaption>
        {% include icon.html icon="instagram" %}
      </figcaption>
    </figure>
    <script>
      var userFeed = new Instafeed({
        get: 'user',
        userId: '{{site.instagram_userId}}',
        accessToken: '{{site.instagram_accessToken}}',
        clientId: '{{site.instagram_clientId}}',
        resolution: 'standard_resolution',
        limit: 1
      });
      userFeed.run();
    </script>
  </div>
  {% include brick.html name="donald" filter="moon" %}
  <div class="brick">
    Driven, compassionate and insatiably curious.
  </div>
  {% include brick.html name="gary" filter="slumber" %}
  <div class="brick">
    <blockquote>
      "Perpetually finding, building and nurturing relationships is the goal."
        <cite>-- Tim Dodson, Who Client Manager</cite>
    </blockquote>
  </div>
  <div class="brick">
    {% include who-logo.html %}
  </div>
  <div class="brick">
    Our namesake is a hat tip to those individuals who make great businesses exceptional.
  </div>
  <div class="brick">
    A team built upon hard work and mutual respect.
  </div>
  {% include brick.html name="tim" filter="moon" %}
  <div class="brick">
    <blockquote>
      "Genuine people make the best recruiters and that's the only way to fit into this culture."
        <cite>-- Donald Coleman, Who Partner</cite>
    </blockquote>
  </div>
  {% include brick.html name="chris" filter="slumber" %}
  <div class="brick">
    <a href="http://smartceo.com/2016-baltimore-future-50-who-a-staffing-company/">2016 SmartCEO's Baltimore Future 50 Award</a>
  </div>
  <div class="brick">
    <blockquote>"I am over the moon happy with my new job and owe all my thanks to Who."
      <cite>-- Jennifer K., Junior Project Manager</cite>
    </blockquote>
  </div>
  <div class="brick hs">
    <figure class="moon">
      <img src="/assets/img/culture/chris-pix-party.jpg">
    </figure>
  </div>
  <div class="brick">
    <blockquote>
      "What do I get from some recruiting firms? Bagels, cookies and popcorn. What do I get from Who? Highly qualified candidates."
        <cite>-- Lee C., VP of Engineering</cite>
    </blockquote>
  </div>
  <div class="brick hs">
    <figure class="moon">
      <img src="/assets/img/culture/gary-client.jpg">
    </figure>
  </div>
</div>
