---
layout: default
---

<div id="top">
  <figure class="slumber">
    <img src="/assets/img/approach-chris-client.jpg">
  </figure>
  <div class="hero">
    <h1>Instinctive hiring for tech leaders.</h1>
    <h2>Build a sustainable business fueled by the right people.</h2>
  </div>
</div>

<div id="stage">
  <div class="hero">
    <h1>Our clients are forward-thinking employers who know that investing in people is just smart business sense.</h1>
  </div>
</div>

<div id="testimonial">
  <div class="hero">
    <article>
      <p>At Who, we are driven by one core promise: to grow our technology community through strong relationships and successful connections.</p>
      <blockquote>
        <p>They understand our culture and present candidates that make our decisions easy.</p>
        <cite>- Steve E., VP of Recruiting</cite>
      </blockquote>
      <p>We focus on building and maintaining our network of top businesses and talent, creating partnerships that drive positive change and mutual growth.</p>
    </article>
  </div>
</div>

<div id="deck">
  <figure class="slumber">
    <img src="/assets/img/approach-tim-client.jpg">
  </figure>
  <div class="hero">
    <h1>A passionate culture driven from within</h1>
    <a class="cta" href="/about">meet the team</a>
  </div>
</div>

<div id="testimonial">
  <div class="hero">
    <article>
      <p>Building a team takes more than matching skill sets to job openings—it requires bringing in the right people who excel in their role, contribute to your culture and will not only grow with your company, they'll help grow it.</p>
      <blockquote>
        <p>Who is an extension of my own team looking for talent for me.</p>
        <cite>- Rick W., President</cite>
      </blockquote>
      <p>Whatever stage your business is in, Who is there with you. From long-term enterprise growth strategies to startups experiencing rapid acceleration, we'll find the right people to help you get where you're going.</p>
    </article>
  </div>
</div>
