---
layout: default
---

<div class="stage">
  <a href="/">
    {% include who-logo-mark.svg %}
  </a>
  <h2>a staffing company</h2>
</div>
<div class="contact-info">
{% include contact-sprite.svg %}
  <div>
    {% include icon.html icon="house" %}
    {% include vcard.html %}
  </div>
  <div>
    {% include icon.html icon="phone" %}
    <p><a class="tel" href="tel:+14106808855">(410) 680-8855</a></p>
  </div>
  <div>
    {% include icon.html icon="mail" %}
    <p><a class="tel" href="mailto:info@whostaffing.com">info@whostaffing.com</a></p>
  </div>
</div>
