---
layout: default
---

<div class="stage">
  <div class="hero">
    <h1>Great companies are built around you.</h1>
    <a class="cta" href="gigs.php">view jobs</a>
  </div>
</div>

<div class="hero">
  <article>
    <p>Hiring you is the most impactful decision your next employer will make.</p>
    <blockquote>
      <p>The people we place are goal-oriented and take accountability for their own success.</p>
      <cite>- Gary Ditto, Founder &amp; President</cite>
    </blockquote>
    <p>You make up the lifeblood of the organization you work for, as part of a strong team carrying out the mission of your company.</p>
  </article>
</div>

<div class="fw">
  <h1>Who We Hire</h1>
  <div class="job-categories">
    <a href="gigs.php?catid=2">Business Analysts</a>
    <a href="gigs.php?catid=4">Database Engineers</a>
    <a href="gigs.php?catid=6">Project Managers</a>
    <a href="gigs.php?catid=7">QA Engineers</a>
    <a href="gigs.php?catid=1">Web Developers</a>
    <a href="gigs.php?catid=3">Infrastructure Engineers</a>
    <a href="gigs.php?catid=5">DevOps Engineers</a>
  </div>
</div>

<div class="hero">
  <article>
    <blockquote>
      <p>You guys have built a great staffing company, and you’ve handled my difficult circumstances carefully and professionally. Thank you again for being a great door opener, a professional, and a gentleman.</p>
      <cite>- Randy W., Software Engineer</cite>
    </blockquote>
  </article>
</div>
