{% comment %}

- this swtich statment is not neccessary
- TODO: filter by include.name directly

{% endcomment %}

{% assign name = include.name  %}
{% case name %}
  {% when 'gary' %}
    {% assign members = (site.data.team | where:"name","Gary Ditto") %}
  {% when 'donald' %}
    {% assign members = (site.data.team | where:"name","Donald Coleman") %}
  {% when 'tim' %}
    {% assign members = (site.data.team | where:"name","Tim Dodson") %}
  {% when 'chris' %}
    {% assign members = (site.data.team | where:"name","Chris Lillemoe") %}
  {% else %}
{% endcase %}

{% for member in members %}

<a href="/{{ name }}"> 
  <div class="brick hs">
    <figure {% if include.filter %}class="{{ include.filter }}"{% endif %}>
      <img src="/assets/img/hs/{{ member.headshot }}">
      <figcaption>
        <p>{{ member.name }}<span>{{ member.title }}</span></p>
      </figcaption>
    </figure>
  </div>
</a>

{% endfor %}
