<head>
  <meta charset="utf-8">
  {% assign page-name = (page.name | remove: '.html' | remove: '.md') %}
  {% include seo-og.html page = page-name %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link hrel="stylesheet" ref="https://fonts.googleapis.com/css?family=Arimo">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | remove: '.html' }}">
  {% if jekyll.environment == "production" %}
  <meta name="robots" content="index, follow">
  {% include ga.html %}
  {% else %}
  <meta name="robots" content="noindex, nofollow">
  {% endif %}
</head>
