<header role="banner">
  {% unless include.logo %}
    {% include logo.html %}
  {% endunless %}
  <nav role="navigation" id="menuToggle">
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
    {% include navigation.html %}
    </ul>
  </nav>
</header>
