{% comment %}

** grab icon param **
** if url param was passed, grab that too **

{% endcomment %}

{% assign icon = include.icon  %}

{% if include.url %}
{% assign url = include.url %}
{% endif %}

{% case icon %}
  {% when 'envelope' %}
    <a
    {% if url %}
        href="mailto:{{ url }}"
    {% else %}
        href="{{ site.email }}"
    {% endif %}
    >
     <svg viewBox="0 0 16 16" class="icon icon-{{ include.icon }}">
       <use xlink:href="#icon-{{ include.icon }}"></use>
     </svg>
   </a>
  {% when 'facebook' %}
    <a
    {% if url %}
        href="https://www.facebook.com/{{ url }}"
    {% else %}
        href="{{ site.facebook }}"
    {% endif %}
    >
      <svg viewBox="0 0 16 16" class="icon icon-{{ include.icon }}">
        <use xlink:href="#icon-{{ include.icon }}"></use>
      </svg>
    </a>
  {% when 'linkedin' %}
    <a
    {% if url %}
        href="https://www.linkedin.com/in/{{ url }}"
    {% else %}
        href="{{ site.linkedin }}"
        {% endif %}
    >
      <svg viewBox="0 0 16 16" class="icon icon-{{ include.icon }}">
        <use xlink:href="#icon-{{ include.icon }}"></use>
      </svg>
    </a>
  {% when 'twitter' %}
    <a
    {% if url %}
        href="https://www.twitter.com/{{ url }}"
    {% else %}
        href="{{ site.twitter }}"
    {% endif %}
    >
      <svg viewBox="0 0 16 16" class="icon icon-{{ include.icon }}">
        <use xlink:href="#icon-{{ include.icon }}"></use>
      </svg>
    </a>
  {% when 'instagram' %}
    <a
    {% if url %}
        href="https://www.instagram.com/{{ url }}"
    {% else %}
        href="{{ site.instagram }}"
    {% endif %}
    >
      <svg viewBox="0 0 16 16" class="icon icon-{{ include.icon }}">
        <use xlink:href="#icon-{{ include.icon }}"></use>
      </svg>
    </a>
  {% when 'map' %}
    <svg viewBox="0 0 67.201 68.4" class="icon icon-{{ include.icon }}">
      <use xlink:href="#icon-noun-{{ include.icon }}"></use>
    </svg>
  {% when 'house' %}
    <svg viewBox="0 0 100 125" class="icon icon-{{ include.icon }}">
      <use xlink:href="#icon-noun-{{ include.icon }}"></use>
    </svg>
  {% when 'mail' %}
    <svg viewBox="0 0 100 125" class="icon icon-{{ include.icon }}">
      <use xlink:href="#icon-noun-{{ include.icon }}"></use>
    </svg>
  {% when 'phone' %}
    <svg viewBox="0 0 100 125" class="icon icon-{{ include.icon }}">
      <use xlink:href="#icon-noun-{{ include.icon }}"></use>
    </svg>
  {% else %}
    <p>Please pass a valid icon!</a>
{% endcase %}

