{% comment %}

- this swtich statment is not neccessary
- TODO: filter by include.name directly

{% endcomment %}

{% assign name = include.page  %}
{% case name %}
  {% when 'index' %}
    {% assign metas = (site.data.seo | where:"page","index") %}
  {% when 'approach' %}
    {% assign metas = (site.data.seo | where:"page","approach") %}
  {% when 'jobs' %}
    {% assign metas = (site.data.seo | where:"page","jobs") %}
  {% when 'about' %}
    {% assign metas = (site.data.seo | where:"page","about") %}
  {% when 'contact' %}
    {% assign metas = (site.data.seo | where:"page","contact") %}
  {% else %}
{% endcase %}

{% for meta in metas %}
<title>{{ meta.title }}</title>
<meta name="description" content="{{ meta.description | strip_html | strip_newlines }}">
<meta property="og:title" content="{{ meta.title | remove: ' | Who Staffing' }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: '.html' }}" />
<meta property="og:image" content="{{ site.url }}/assets/img/{{ meta.ogimage }}">
<meta property="og:description" content="{{ meta.description }}">
<meta property="og:type" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@whostaffing">
<meta name="twitter:creator" content="@whostaffing">
<meta name="twitter:title" content="{{ meta.title | remove: ' | Who Staffing' }}">
<meta name="twitter:url" content="{{ site.url }}{{ page.url | remove: '.html' }}">
<meta name="twitter:description" content="{{ meta.description }}">
<meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ meta.ogimage }}">
{% endfor %}

{% comment %}

TODO:
* use {{ site.url }} above instead of hard-coded domain for url and image
<meta property="og:url" content="{{ site.url }}{{ page.url | remove: '.html' }}" />

* use the following tags for blog posts
<meta property="og:type" content="article">
<meta property="article:publisher" content="{{ site.facebook }}">

{% endcomment %}
