<div class="vcard">
  <p class="adr">
    <span class="street-address">10721 Birmingham Way, Suite B</span><br>
    <span class="locality">Woodstock,</span>
    <abbr class="region" title="Maryland">MD</abbr>
    <span class="postal-code">21163</span>
  </p>
</div>
