.scroll-arrow {
  &:after {
    content: "";
    position: relative;
    display: block;
    left: calc(50% - 1.5rem);
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid $white-color;
    border-left: none;
    border-top: none;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation: arrow-bounce 1.7s infinite;
    animation: arrow-bounce 1.7s infinite;
  }
}

@keyframes arrow-bounce {
  to {
    transform: rotate(45deg) translateY(2rem) translateX(2rem);
    opacity: 0;
  }
}
