#approach {

  #top {

    .hero:first-of-type {
      background-color: $white-color;
      border-radius: 0.125em;
      margin-top: -50px;
      margin-bottom: 5em;
      max-width: 50em;
      padding: 2em;
      position: relative;
      z-index: 1;

      @media (min-width: 64em) {
        margin-bottom: 15em;
        }


      h1 {
        max-width: 11em;
      }

      h2 {
        max-width: 16em;
      }
    }
  }

  #stage {
    background-color: $brand-color-blue-light;
    display: flex;
    min-height: 60vh;
    margin: 0;
    padding: 2em 0; // for small screens

    .hero {
      margin: auto;
      max-width: 64em;
      text-align: center;
      width: 80%;
    }
  }

  #testimonial {
    display: flex;
    margin: 0;
    min-height: 100vh;

    .hero {
      margin: auto; // center horizontally and vertially
    }
  }

  #deck {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3em 0 0 0;

    .hero {
      margin: 2em auto;
      width: 90%;
    }

    @media (min-width: 64em) {
      flex-direction: row;
      margin: 4em 0;

      figure {
        flex-basis: 60%;
      }

      .hero {
        flex-basis: 35%;
        margin: 0;
        order: -1;
        text-align: right;
      }
    }
  }

  .hero {
    margin: 0 auto;
    width: 90%;
  }
}
