/**
 * @license
 * MyFonts Webfont Build ID 3214763, 2016-05-05T19:28:54-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: ClarendonBT-Light by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/clarendon/light/
 *
 * Webfont: ClarendonBT-Roman by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/clarendon/clarendon/
 *
 * Webfont: ClarendonBT-Bold by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/clarendon/bold/
 *
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3214763
 * Licensed pageviews: 10,000
 * Webfonts copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 *
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/310dab");

@font-face {font-family: 'ClarendonBT-Light';src:
url('/assets/webfonts/310DAB_0_0.eot');src: url('/assets/webfonts/310DAB_0_0.eot?#iefix')
format('/assets/embedded-opentype'),url('/assets/webfonts/310DAB_0_0.woff2')
format('woff2'),url('/assets/webfonts/310DAB_0_0.woff')
format('woff'),url('/assets/webfonts/310DAB_0_0.ttf')
format('truetype'),url('/assets/webfonts/310DAB_0_0.svg#wf') format('svg');}

@font-face {font-family: 'ClarendonBT-Roman';src:
url('/assets/webfonts/310DAB_1_0.eot');src: url('/assets/webfonts/310DAB_1_0.eot?#iefix')
format('embedded-opentype'),url('/assets/webfonts/310DAB_1_0.woff2')
format('woff2'),url('/assets/webfonts/310DAB_1_0.woff')
format('woff'),url('/assets/webfonts/310DAB_1_0.ttf')
format('truetype'),url('/assets/webfonts/310DAB_1_0.svg#wf') format('svg');}

@font-face {font-family: 'ClarendonBT-Bold';src:
url('/assets/webfonts/310DAB_2_0.eot');src: url('/assets/webfonts/310DAB_2_0.eot?#iefix')
format('embedded-opentype'),url('/assets/webfonts/310DAB_2_0.woff2')
format('woff2'),url('/assets/webfonts/310DAB_2_0.woff')
format('woff'),url('/assets/webfonts/310DAB_2_0.ttf')
format('truetype'),url('/assets/webfonts/310DAB_2_0.svg#wf') format('svg');}
