
footer {
  background-color: $grey-color-light;
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  @media (min-width: 38em) {
    flex-direction: row;
  }

  div {
    border-bottom: 1px solid $white-color;
    letter-spacing: 2px;
    padding: 2em;
    text-align: center;

    @media (min-width: 38em) {
      border-bottom: none;
      flex-basis: 50%;
      text-align: left;
    }

    @media (min-width: 48em) {
      padding: 2em 0 2em 4em;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    @media (min-width: 38em) {
      flex-basis: 50%;
    }

    li {
      border-left: 1px solid $white-color;
      flex-basis: 25%;
      text-align: center;
      transition: background-color 0.7s;

      &:hover {
        background-color: $brand-color-blue;

        .icon {
          color: currentColor;
        }
      }
    }

    a {
      display: block;
      padding: 1em;

      @media (min-width: 32em) {
        padding: 2em;
      }
    }
  }

  .icon {
    color: #00b38f;
  }

}

