header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em;
  text-align: center;

  #logo {
    height: auto;
    width: calc(10% + 10vmax);
  }

  a {
    text-decoration: none;
    color: $brand-color-black;
    transition: color 0.3s ease;
    flex-basis: 40%;

    &:hover {
      color: $brand-color-blue;
    }
  }

  #menuToggle {
    position: absolute;
    top: 3em;
    right: 2em;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -6px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 11; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  /* quick hamburger */

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: $brand-color-black;
    border-radius: 3px;
    z-index: 10;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

/*
 * But let's hide the middle one.
 */

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

/*
 * Ohyeah and the last one should go the other direction
 */

  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
   * Make this absolute positioned
   * at the top left of the screen
   */

  #menu {
    position: absolute;
    margin: -100px 0 0 -160px;
    padding: 50px;
    padding-top: 125px;
    background: $brand-color-blue;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    z-index: 6;
  }

  #menu li {
    padding: 10px;
    font-size: 22px;

    &:hover {
      background-color: $brand-color-black;
    }
  }

/*
 * And let's fade it in from the left
 */

  #menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
}
