#index {

  #top {

    .hero {
      min-height: 30vh;
      margin: 2em auto;
      width: 90%;
    }

    .hero:nth-of-type(2n) {
      background-color: $white-color;
      border-radius: 0.125em;
      margin-top: -50px;
      max-width: 60em;
      padding: 2em;
      position: relative;
      z-index: 1;
    }
  }

  #middle {
    display: flex;
    margin: 0;
    min-height: 100vh;

    .hero-wrapper {
      background-color: $brand-color-blue-light;
      margin: auto;
      padding: 2em 0;
      width: 100%;
    }

    .hero {
      margin: auto;
      width: 90%;
    }
  }

  #bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 32em;

    .hero {
      margin: 1em auto;
      width: 90%;
    }

    @media (min-width: 64em) {
      flex-direction: row;
      min-height: auto;

      figure {
        flex-basis: 60%;
      }

      .hero {
        flex-basis: 35%;
        margin: 0;
        margin-right: 1em;
      }
    }
  }

  .hero {

    h1 {
      max-width: 15em;
    }

    h2 {
      color: $brand-color-grey;
      max-width: 20em;
    }

    p {
      max-width: 26em;
    }
  }
}
