#index {

  .intro {
    background-image: url(../assets/img/who-home-tc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;

    section:last-of-type {
    border-top: 1px solid gainsboro;
    }

    &:after {
      background-color: rgba(0, 255, 204, 0.3);
      content: "";
      height: 100%;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }


    #client-hero {
      color: white;
      height: 100vh;
      position: relative;
      z-index: 2;

      > a > img {
        height: auto;
        padding-top: 1em;
        width: 15vmax;
      }

      h1 {
        font-family: $heading-font-family;
        font-size: 6.5vmax;
        margin: 0 auto;
        padding-top: 1em;
        max-width: 4em;
      }

      h2 {
        font-family: $base-font-family;
        font-size: 2vmax;
        margin: 0 auto;
        max-width: 17em;
      }
    }

    #candidate-hero,
    #internal-hero {
      display: table;
      height: 50vh;
      width: 100%;

      .vm {
        display: table-cell;
        vertical-align: middle;
      }

      h1 {
        font-family: $heading-font-family;
        font-size: 5.5vmax;
        -webkit-text-stroke: 1px $grey-color-light;
      }
    }

    .hero {
      font-size: 6.5vmax;
    }
  }
}
