#jobs {

  // full-width wrapper
  .fw {
    background-color: $brand-color-blue-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 2em 0;
  }

  .job-categories {
    display: flex;
    flex-direction: column;
    margin: auto; // center BOTH horizontally and vertically with flexbox -- NO width needed!
    text-align: center;

    @media (min-width: 48em) {
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto; // center BOTH horizontally and vertically with flexbox
      max-width: 64em;
      width: 100%; // IE

      a {
        flex-basis: 20%;
      }

      // margin on 2,3,4 and 6,7,8 at 20% flex-basis -- there must be a better way
      a:nth-child(even), // 2,4,6,8
      a:nth-child(3), // 3
      a:nth-child(7) { // 7
        margin-left: 1em;
      }
    }

    a {
      background-color: $white-color;
      flex-grow: 1;
      margin-bottom: 0.5em;
      padding: 1em;
    }
  }

  .stage {
    display: table;
    height: 50vh;
    margin: 0 auto;
    max-width: 48em; // IE can't deal with calc() expressions
    max-width: calc(50% + 10vmax);

    .hero {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .stage.featured-job {
    max-width: calc(50% + 3vmax);
  }

  #deck {
    @extend %clearfix;

    .hero {
      margin-top: 2em;
    }

    @media (min-width: 64em) {
    margin: 5em 0;

      figure {
        max-width: 50%;
        float: left;
      }

      .hero {
        float: left;
        max-width: 45%;
        margin: 0 0 0 2em;
      }
    }
  }

  .hero {
    margin: 2em auto;
    width: 90%;
  }
}
