<!DOCTYPE html>
<html lang="en-us">
  {% include head.html %}
  {% assign page = page.name | remove: '.html' | remove: '.md' %}
  <body {% if page == 'typography' %}class="baseline"{% endif %} id="{{ page }}">
    <div id="container">
      {% if page == 'about' or page == 'contact' %}
        {% include header.html logo="false" %}
      {% else %}
        {% include header.html %}
      {% endif %}
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
